@import url('https://fonts.google.com/specimen/Anek+Gujarati?query=anek');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ColumnOne {
    border-color: black;
    background-color: rgb(13, 89, 156);
}

.header {
    background-color: #ff742b;
    padding: 11px;
}

.innerHeader{
    background-color:#ff742b;
}

.logoimg {
    height: 35px;
}

.title1 {
    float: left;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 20px;
    margin: -40px 0px 0px 51px;
}

.title2 {
    float: left;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 20px;
    margin: -22px 0px 0px 50px;
}

.searchIcon {
    background-color: white;
    height: 45px;

}

.searchContainer {
    overflow: hidden;
    margin: -45px 0px 0px 300px;    
}


.searchContainer input[type=text] {
    padding: 4px;
    margin-top: 8px;
    height: 45px;
    width: 90%;
    font-size: 17px;
    border: none;
    font-family: 'Anek Gujarati', sans-serif;
  }
  

.settingIcon {
    float: right;
    height: 31px;
    margin: -34px 86px 0px 0px;
}

.settingWord {
    float: right;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 22px;
    font-weight: 200;
    margin: -32px -5px 0px 0px;
}